.arrow{
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 15px;
}
.arrow .bar{
  width: 60px;
  height: 20px;
}
.arrow .head{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 43.3px;
  border-color: transparent transparent transparent #fcec56;
  background: none;
}
