.block-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px 0px;
}
.rows{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}
.row{
  flex: 0 0 auto;
  padding: 0px 10px;
  width: 100%;
  height: 40px;
  background: #2176FF;
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
